<div class="container">
    <!-- sidebar -->
    <div class="sidebar">
    </div>
    <div class="right">
        <!-- header -->
        <div class="header">
            <!-- title -->
            <div class="title">Service Data</div>
            <div class="search">
                <i class="material-icons dp48">search</i>
            </div>
            <!-- notification -->
            <div class="notification">
                <i class="material-icons dp48">notifications_none</i>
            </div>
            <div class="vl"></div>
            <div class="name">Suraj Chourasia</div>
            <div class="photo">
                <div class="photo-circle">
                    <img src="../../assets/man.png">
                </div>
            </div>
        </div>
        <!-- all-ticket -->
        <div class="all-ticket">
            <!-- sheet -->
            <div class="sheet">
                <div class="service-rate">
                    Service Rate
                </div>
                <div class="horizantal-line"></div>
                <div class="group">
                    <div class="category">Category</div>
                    <mat-form-field  style="margin-left: 100px;">
                        <select matNativeControl required>
                            <option value="fan">fan</option>
                            <option value="light">light</option>
                            <option value="mcb">mcb</option>
                            <option value="other">other</option>
                        </select>
                    </mat-form-field>
                   
                </div>
                <!-- item -->
                <div class="parrent">
                    <div style="margin-right: 54px;">Items</div>
                    <div class="max">
                        <div style="margin-right: 181px;">Max Rate</div>
                        <div style="margin-right: 25px;">New Max. Rate</div>
                    </div>
                </div>
                <div class="parrent-underline" style="margin-top: 10px;"></div>
                <mat-accordion *ngFor="let item of data" style="margin-top: 20px;">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="exp-title">
                                    {{item.title}}
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="content" *ngFor="let el of item['items']">
                            <div>
                                {{el.itemName}}
                            </div>
                            <div>
                                {{el.maxRate}}
                            </div>
                            <div >
                                <mat-form-field>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        </div>
                      
                    </mat-expansion-panel>
                </mat-accordion>
                <div>
                    <input type="button" value="Updates Rates" class="btn">
                </div>



             