.sidebar {
    background: #363740;
    position: absolute;
    width: 255px;
    height: 2000px;
    top: 0;
    left: 0;
}
/* max */
.max {
    display: flex;
    justify-content: space-evenly;
}
.right {
    position: absolute;
    left: 255px;
    right: 0px;
    top: 0px;
    bottom: 0px;    
    background: #F7F8FC;
}
/* header */
.header {
    position: absolute;
height: 44px;
left: 30px;
right: 33px;
top: 30px;
}
/* title */
.title {
    position: absolute;
height: 34px;
left: 0px;
right: 351px;
top: calc(50% - 34px/2 + 1px);
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.3px;
color: #252733;
}
/* name of user */
.name{
    position: absolute;
width: 109px;
height: 18px;
right: 50px;
top: calc(50% - 18px/2);
margin-right: 10px;
font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
text-align: right;
letter-spacing: 0.2px;
color: #252733;
}
/* all ticket */
.all-ticket {
    position: absolute;
left: 30px;
right: 33px;
top: 128px;
bottom: 35px;
}
/* sheet */
.sheet {
    left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
width: 1035px;
height: 1900px;
background: #FFFFFF;
border: 1px solid #DFE0EB;
box-sizing: border-box;
border-radius: 8px;
}
/* service rate */
.service-rate {
    position: absolute;
height: 24px;
left: 32px;
right: 690px;
top: 32px;
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 24px;
letter-spacing: 0.4px;
color: #252733;
}
/* hr-line */
.horizantal-line {
    position: absolute;
width: 100%;
height: 9px;
left: 1px;
top: 84px;

background: #363740;
}
/* group */
.group
 {
    position: absolute;
    width: 321px;
    height: 26px;
    left: 55px;
    top: 139px;
}
/* category */
.category {
    position: absolute;
width: 86px;
height: 34px;
font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 54px;
letter-spacing: 0.4px;
color: #252733;
margin-top: 5px;
}
/* search */
.search 
{
    position: absolute;
    width: 16px;
    height: 16px;
    right: 271px;
    top: calc(50% - 16px/2);
}
.search-icon
 {
    position: absolute;
width: 15px;
height: 15px;
left: 0px;
top: 0px;
}
.circle {
    position: absolute;
left: 0%;
right: 18.75%;
top: 0%;
bottom: 18.75%;
border: 1.5px solid #C5C7CD;
box-sizing: border-box;
}
.vl{
    position: absolute;
width: 0px;
left: calc(83% - 0px/2);
top: 0px;
bottom: 0px;
border: 1px solid #DFE0EB;
}

.notification {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 231px;
    top: calc(50% - 16px/2);
}
.photo {
position: absolute;
width: 44px;
height: 44px;
left: 980px;
top: 0px;
}

.photo-circle {
    position: absolute;
width: 44px;
height: 44px;
right: 0px;
top: calc(50% - 44px/2);
border-radius: 50%;
border: 1.5px solid #DFE0EB;
}

img {
    border-radius: 50%;
}
.parrent{
    display: flex;
    justify-content: space-around;
    margin-top: 240px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}
.content {
    display: flex;
    justify-content: space-around;
    margin-bottom: -17px;
}
.exp-title {
font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 230%;
letter-spacing: 0.4px;
color: #000000;
 margin-left: 30px;
}
.btn{
    background-color: black;
    border-radius: 10px;
    color: blanchedalmond;
    margin-left: 850px;
    width: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    height: 31px;

}





