<div class="container">
    <!-- card-wrapper -->
    <div class="card-wrapper">
        <!-- card -->
        <mat-card class="main-card">
            <mat-card-header>
                <!-- title style -->
                <mat-card-title class="title-style">User & Access</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- hr-line -->
                <hr class="hr-line">
                <!-- feildset -->
                <fieldset style="margin-top: 3%;">
                    <legend>
                        <button mat-mini-fab color="primary">+</button>
                    </legend>
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                      </mat-form-field>
                    <!-- table -->
                    <div class="table-wrapper">
                        <div>
                            <table mat-table [dataSource]="dataSource" matSort>
                                <!-- user Column -->
                                <ng-container matColumnDef="user">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                                    <td mat-cell *matCellDef="let row">
                                        <div>{{row.user}}</div>
                                        <div>{{row.email}}</div>
                                    </td>
                                </ng-container>
                                <!-- lst signed in Column -->
                                <ng-container matColumnDef="last_signed">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Signed In </th>
                                    <td mat-cell *matCellDef="let row"> {{row.last_signed}} </td>
                                </ng-container>
                                <!-- access level Column -->
                                <ng-container matColumnDef="access_level">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Access Level </th>
                                    <td mat-cell *matCellDef="let row"> {{row.access_level}} </td>
                                </ng-container>
                                <!-- crated by Column -->
                                <ng-container matColumnDef="created_by">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                                    <td mat-cell *matCellDef="let row"> {{row.created_by}} </td>
                                </ng-container>
                                <!-- password column -->
                                <ng-container matColumnDef="password">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
                                    <td mat-cell *matCellDef="let row">
                                        <div class="pass">
                                            <div>
                                                <input type="password" value="{{row.password}} " #row6>
                                            </div>
                                            <div *ngIf="row6.type=='password'">
                                                <mat-icon class="eye" (click)="passToggle(row6)"> visibility_off
                                                </mat-icon >
                                            </div>
                                            <div *ngIf="row6.type=='text'">
                                                <mat-icon class="eye" (click)="passToggle(row6)"> visibility
                                                </mat-icon >
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>
                                <!-- key column -->
                                <ng-container matColumnDef="key">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Key </th>
                                    <td mat-cell *matCellDef="let row">
                                        <div class="key">
                                            <a href="../../assets/demo.webp" download>
                                                <mat-icon style="color: black;">cloud_download</mat-icon>
                                            </a>
                                            <div>
                                                <mat-icon>edit</mat-icon>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>
                            <!-- mat-paginator -->
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </fieldset>
            </mat-card-content>
        </mat-card>
    </div>
</div>