.sidebar {
position: absolute;
width: 80px;
height: 100vh;
left: 0px;
top: 0px;
background: #363740;
}
/* main card */
.main-card {
    max-width: 82%;
    margin-top:30px
  }
/* card wrapper */
  .card-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      justify-items: center;
      padding: 10px;

  }
  /* hr-line */
.hr-line{
    position: absolute;
    width: 100%;
    height: 8px;
    left: 1px;
    top: 60px;
    
    background: #363740;

}
/* title style */
.title-style {
font-family: Mulish;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.4000000059604645px;
text-align: left;

}
/* fieldset */
fieldset {
background: #F9F9F9;
border: 1px solid #DFE0EB;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* table wrapper */
.table-wrapper {
      width: 1059px;
  }
  th
  {
      padding: 10px;
  }

  td {
      padding: 20px;
      border: 1px solid gray;
  }
/* password */

  .pass {
      display: flex;
      justify-content: space-between;
  }
  .pass-txt{
      margin-top: 7px;
  }

  .row-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;    
    align-items: left;
    letter-spacing: 0.324074px;
    color: #363740;
    
  }
/* row subtitle */
  .row-subtitle {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;    
    letter-spacing: 0.324074px;
    
    color: #747474;
    
  }
/* table header */
  table thead {
    background-color: black;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: left;
    text-align: left;
    letter-spacing: 0.324074px;
    color: #D8DCF0;
  }

  .title-bottom-mr {
      margin-bottom: 16px;
  }
/* key coloumn */
  .key {
      display: flex;
      justify-content: space-between;
      color: black;
      width: 170px;
     
  }
 input {
      background: none;
      border: none;
  }
.eye{
  cursor: pointer;
}
   table {
    width: 100%;
    background-color: #E5E5E5;

  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }


  th.mat-sort-header-sorted {
    color: black;
  }
  /* paginator */
 mat-paginator {
  background-color: #E5E5E5;

}

.table-wrapper {
  flex-flow: row wrap;
}
.mat-header-row  {
  background-color: black;
}
.mat-header-cell {
  color: white;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
 