.sidebar {
    position: absolute;
    width: 80px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #363740;
    }
    
    .main-card {
        max-width: 100%;
        margin-top:30px;
        
      }
      .container{
          display: flex;
          max-width: 100%;
      }
    
      .card-wrapper {
          display: flex;
          justify-content: space-around;
          align-items: center;
          justify-items: center;
          padding: 10px;
    
      }
      
    .hr-line{
        position: absolute;
        width: 100%;
        height: 8px;
        left: 1px;
        top: 60px;
        
        background: #363740;
    
    }
    .member{
        margin-top: 20px;
    }
    .btn{
      
        
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        background-color: black;
        
        color: #FFFFFF;
    }
    .radio{
        margin-left: 350px;
        margin-top: 30px;
    }
    .custom{
        position: absolute;
width: 71px;



font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 19px;

/* identical to box height */

letter-spacing: 0.4px;

color: #252733;

    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      #customers td, #customers th {
        
        padding: 2px;
      }
      
      #customers tr:nth-child(odd){background-color: #f2f2f2;}
      
      #customers tr:hover {background-color: #ddd;}
      .btn{
          margin-left: 00px;
          
      }


