<div class="container">

  <div class="card-wrapper">
    <!-- card -->
    <mat-card class="main-card">
      <mat-card-header>
        <!-- title style -->
        <mat-card-title class="title-style">User & Access</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- hr-line -->
        <hr class="hr-line">
        <div class="member">Add New Member</div>

        <form class="example-form">
          <mat-form-field class="example-full-width">

            <input matInput placeholder="" value="Full name">
          </mat-form-field>&nbsp;

          <mat-form-field class="example-full-width">

            <input matInput placeholder="" value="user name">
          </mat-form-field>&nbsp;
          <mat-form-field class="example-full-width">

            <input matInput placeholder="" value="Password">
          </mat-form-field>&nbsp;
          <mat-form-field class="example-full-width">

            <input matInput placeholder="" value="confirm Password">
          </mat-form-field>&nbsp;
          <input type="button" value="Genrate password" class="btn"><br>
          <mat-form-field class="example-full-width">

            <input matInput placeholder="" value="Mobile Number">
          </mat-form-field>&nbsp;
          <mat-form-field class="example-full-width">

            <input matInput placeholder="" value="Email">
          </mat-form-field>&nbsp;

        </form>


        <div class="radio">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="2">custom</mat-radio-button>&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="3">saved role</mat-radio-button>&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="4">read only</mat-radio-button>&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="5">stnderd</mat-radio-button>&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="6~">admin</mat-radio-button>&nbsp;&nbsp;&nbsp;


          </mat-radio-group>
        </div>

        <!-- <table id="customers">
                   
                   
                    <tr>
                      <td>Berglunds snabbköp</td>
                      <td> <input type="checkbox" /></td>
                      <td>Sweden</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td> <input type="checkbox" /></td>
                      <td>Mexico</td>
                    </tr>
                    <tr>
                      <td>Ernst Handel</td>
                      <td> <input type="checkbox" /></td>
                      <td>Austria</td>
                    </tr>
                    <tr>
                      <td>Island Trading</td>
                      <td> <input type="checkbox" /></td>
                      <td>UK</td>
                    </tr>
                    <tr>
                      <td>Königlich Essen</td>
                      <td> <input type="checkbox" /></td>
                      <td>Germany</td>
                    </tr>
                    <tr>
                      <td>Laughing Bacchus Winecellars</td>
                      <td> <input type="checkbox" /></td>
                      <td>Canada</td>
                    </tr>
                    <tr>
                      <td>Magazzini Alimentari Riuniti</td>
                      <td> <input type="checkbox" /></td>
                      <td>Italy</td>
                    </tr>
                    <tr>
                      <td>North/South</td>
                      <td> <input type="checkbox" /></td>
                      <td>UK</td>
                    </tr>
                    <tr>
                      <td>Paris spécialités</td>
                      <td> <input type="checkbox" /></td>
                      <td>France</td>
                    </tr>
                  </table> -->




        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>



            <table>
              <tr>
                <td>
                  <button mat-icon-button disabled></button>
                </td>
                <td>
                  {{node.item}}
                </td>
                <td>
                  <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                    (change)="todoLeafItemSelectionToggle(node)"></mat-checkbox>
                </td>
              </tr>
            </table>
          </mat-tree-node>



          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>



            <table id="customers">
              <tr>
                <td style="width: 20px;">
                  <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                </td>
                <td style="width:300px">
                  {{node.item}}
                </td>
                <td>
                  <mat-checkbox [checked]="descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
                  </mat-checkbox>
                </td>
              </tr>
            </table>


          </mat-tree-node>
        </mat-tree>


        <div style="margin-top: 30px">
          <mat-checkbox class="example-margin">Want to save this custom role?</mat-checkbox>
        </div>


        <form class="example-form">
          <mat-form-field class="example-full-width">

            <input matInput placeholder="" value="give name this role">
          </mat-form-field>&nbsp;
        </form>
        <div>
          <input type="button" value="submit" class="btn">
        </div>


      </mat-card-content>
    </mat-card>
  </div>
</div>