<div class="container">
    <!-- sidebar -->
    <div class="sidebar"></div>
    <div class="right">
        <!-- header -->
        <div class="header">
            <!-- title -->
            <div class="title">Service Data</div>
            <!-- search -->
            <div class="search">
                <i class="material-icons dp48">search</i>
            </div>
            <!-- notification -->
            <div class="notification">
                <i class="material-icons dp48">notifications_none</i>
            </div>
            <div class="vl"></div>
            <!-- user image -->
            <div class="name">Suraj Chourasia</div>
            <div class="photo">
                <div class="photo-circle">
                    <img src="../../assets/man.png">
                </div>
            </div>
        </div>
        <!-- all-ticket -->
        <div class="all-ticket">
            <!-- sheet -->
            <div class="sheet">
                <!-- service rate -->
                <div class="service-rate">
                    Service Rate
                </div>
                <div class="horizantal-line"></div>
                <div class="group">
                    <div class="category">Category</div>
                    <div class="choose-cat">Choose Category</div>
                    <div class="selectbar-icon"></div>
                    <div class="underline"></div>
                </div>
            </div>
        </div>
    </div>
</div>