

.sidebar {
    background: #363740;
    position: absolute;
    width: 255px;
    height: 100vh;
    top: 0;
    left: 0;
}

.right {
    position: absolute;
    left: 255px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    
    /* grayscale / bg */
    
    background: #F7F8FC;
}

.header {
    position: absolute;
height: 44px;
left: 30px;
right: 33px;
top: 30px;
}

.title {
    position: absolute;
height: 34px;
left: 0px;
right: 351px;
top: calc(50% - 34px/2 + 1px);

/* Bold 24 (0.3 px) */

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.3px;

/* grayscale / black */

color: #252733;
}

.name{
    position: absolute;
width: 109px;
height: 18px;
right: 58px;
top: calc(50% - 18px/2);
margin-right: 10px;

/* Semibold 14 (0.2 px) */

font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: right;
letter-spacing: 0.2px;

/* grayscale / black */

color: #252733;
}

.all-ticket {
    position: absolute;
left: 30px;
right: 33px;
top: 128px;
bottom: 35px;

}

.sheet {
    position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* grayscale / white */

background: #FFFFFF;
/* grayscale / divider */

border: 1px solid #DFE0EB;
box-sizing: border-box;
border-radius: 8px;
}

.service-rate {
    position: absolute;
height: 24px;
left: 32px;
right: 690px;
top: 32px;

/* Bold 19 (0.4 px) */

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.4px;

/* grayscale / black */

color: #252733;
}

.horizantal-line {
    position: absolute;
width: 100%;
height: 9px;
left: 1px;
top: 84px;

background: #363740;
}

.group {
    position: absolute;
    width: 321px;
    height: 26px;
    left: 55px;
    top: 139px;
}

.category {
    position: absolute;
width: 86px;
height: 24px;

font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.4px;

color: #252733;
}

.choose-cat {
    position: absolute;
    width: 126px;
    height: 19px;
    left: 86px;
    top: 5px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.4px;
    color: #AAAAAA;
}

.underline {
    position: absolute;
    width: 164px;
    height: 0px;
    left: 84px;
    top: 31px;
    border: 1px solid #9B9B9B;
}

.selectbar-icon {
 
    position: absolute;
    width: 2px;
    height: 2px;
    left: 235px;
    top: 6px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);


}

.search {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 271px;
    top: calc(50% - 16px/2);
}
.search-icon {
    position: absolute;
width: 15px;
height: 15px;
left: 0px;
top: 0px;
}

.circle {
    position: absolute;
left: 0%;
right: 18.75%;
top: 0%;
bottom: 18.75%;


border: 1.5px solid #C5C7CD;
box-sizing: border-box;
}
.digonal-line {
    position: absolute;
left: 68.75%;
right: 6.25%;
top: 68.75%;
bottom: 6.25%;


border: 1.5px solid #C5C7CD;
}
.vl{
    position: absolute;
width: 0px;
left: calc(83% - 0px/2);
top: 0px;
bottom: 0px;

/* grayscale / divider */

border: 1px solid #DFE0EB;

}

.notification {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 231px;
    top: calc(50% - 16px/2);
}
.vector {
    position: absolute;
    left: 6.25%;
    right: 6.25%;
    top: 0%;
    bottom: 0%;
    
    /* grayscale / gray light */
    
    background: #C5C7CD;
}

.new {
    position: absolute;
left: 62.5%;
right: 0%;
top: -6.25%;
bottom: 68.75%;

/* accent / default */

background: #3751FF;
/* grayscale / bg */

border: 1.5px solid #F7F8FC;
}

.photo {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 987px;
    top: 0px;
    }
    
    .photo-circle {
        position: absolute;
    width: 44px;
    height: 44px;
    right: 0px;
    top: calc(50% - 44px/2);
    
    /* grayscale / divider */
    border-radius: 50%;
    
    border: 1.5px solid #DFE0EB;
    }
    
    img {
        border-radius: 50%;
    
    }


